@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 191, 255);
}
#pokedex {
    margin: auto;
    width: 750px;
    padding: 10px;
    background-color: rgb(184, 6, 6);
    border: 2px solid rgb(136, 5, 5);
    border-radius: 25px;
}
#poketitle {
    color: yellow;
    font-size: 40px;
    font-weight: 900;
    float: right;
    padding: 20px;
    -webkit-text-stroke: 1px rgb(136, 5, 5);
}
.search {
    float: left;
    clear: right;
    width: 300px;
    background-color: rgb(136, 5, 5);
    border: 1px solid rgb(136, 5, 5);
    border-radius: 5px;
    padding: 3px;
    margin: 33px;
    margin-bottom: 90px;
}
.search input,button {
    color: white;
    font-size: 18px;
    background-color: rgb(136, 5, 5);
    border: none;
    padding: 0;
}
.search input {
    width: 280px;
}
input:focus {
    border: none;
}
ul {
    margin: auto;
    width: 700px;
    background-color: black;
    padding: 0;
    border: 2px solid rgb(136, 5, 5);
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 50px;
}
ul li {
    list-style-type: none;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
}
.number {
    color: white;
    font-weight: 900;
    font-size: 20px;
    background-color: gray;
    border: 1px solid none;
    border-top-left-radius: 5px;
    padding: 5px;
}
.name {
    color: black;
    font-weight: 900;
    font-size: 20px;
    background-color: white;
    border: 1px solid none;
    border-top-right-radius: 5px;
    padding: 5px;
}
.image {
    margin-top: 5px;
    background-color: white;
    padding: 10px;
    border: 1px solid none;
    border-top-right-radius: 5px;
}
.typecontainer {
    background-color: white;
    color: white;
    font-weight: 900;
    font-size: 12px;
    padding: 10px;
}
.type {
    border: 1px solid none;
    border-radius: 5px;
    padding: 5px;
}
.grass {
    background-color: rgb(9, 155, 9);
}
.poison {
    background-color: rgb(177, 21, 177);
}
.fire {
    background-color: rgb(255, 81, 0);
}
.flying {
    background-color: rgb(113, 165, 197);
}
.water {
    background-color: rgb(27, 127, 228);
}
.bug {
    background-color: rgb(110, 126, 54)
}
.normal {
    background-color: rgb(110, 110, 110);
}
.statcontainer {
    background-color: white;
    font-weight: 900;
    font-size: 12px;
    padding: 10px;
}
.stat {
    color: white;
    background-color: black;
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
}
.statvalue {
    color: black;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}
.desc {
    background-color: white;
    padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}